# Ignore virtual environment
DjangoBackend/venv/

# Ignore Python cache files
DjangoBackend/**/__pycache__/
DjangoBackend/**/*.py[cod]
DjangoBackend/**/*$py.class

# Ignore Django migration files
DjangoBackend/**/migrations/
DjangoBackend/**/migrations/*.pyc

# Ignore database files
DjangoBackend/*.sqlite3

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-workspace

# Ignore Firebase service account key
DjangoBackend/users/firebase_service_account.json

# Ignore config files
DjangoBackend/.pre-commit-config.yaml

# Ignore .env files
DjangoBackend/.env

# Ignore .DS_Store files
.DS_Store

# Ignore Rapid API Key
MariaDB/rapidApiKey.py
